/*! Checkout Page */
.checkout-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.checkout-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.order-summary {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.payment-form {
  flex: 1;
  padding: 20px;
}

.payment-form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.payment-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#place-order {
  width: 100%;
  padding: 10px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}

#place-order:hover {
  background: darkred;
}

/*! Confirmation style */
.confirmation-container {
      text-align: center;
      background: white;
      padding: 40px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .confirmation-container h2 {
      margin-bottom: 10px;
    }
    .confirmation-container a {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #222;
      color: white;
      text-decoration: none;
      border-radius: 5px;
    }
